<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - VPS Control Panel</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>
  <% if (user) { %>
    <%- include('../components/sidebar') %>
    
    <div class="main-content">
      <%- include('../components/header') %>
      
      <div class="content-wrapper">
        <%- body %>
      </div>
    </div>
  <% } else { %>
    <%- body %>
  <% } %>
  
  <script src="/js/main.js"></script>
</body>
</html>
